<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Rp_Salesman>
			<version>1.0.0</version>
		</Rp_Salesman>
	</modules>
	<admin>
		<routers>
			<salesman>
				<use>admin</use>
				<args>
					<module>Rp_Salesman</module>
                    <frontName>salesman</frontName>
				</args>
			</salesman>
		</routers>
	</admin>
	<adminhtml>
		<menu>
	        <salesman translate="title" module="salesman">
	            <title>Salesman</title>
	            <sort_order>40</sort_order>
	            <children>
	                <manage translate="title" module="salesman">
	                    <title>Manage Salesmans</title>
	                    <action>salesman/adminhtml_salesman/</action>
	                    <sort_order>0</sort_order>
	                </manage>
	            </children>
	         </salesman>
	     </menu>
	</adminhtml>
	<global>
		<helpers>
            <salesman>
                <class>Rp_Salesman_Helper</class>
            </salesman>
        </helpers>
        <blocks>
            <salesman>
                <class>Rp_Salesman_Block</class>
            </salesman>
        </blocks>
        <models>
            <salesman>
                <class>Rp_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Rp_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                </entities>
            </salesman_resource>
        </models>
        <resources>
        	<salesman_setup>
        		<setup>
        			<module>Rp_Salesman</module>
        		</setup>
        		<connection>
        			<use>core_setup</use>
        		</connection>
        	</salesman_setup>
        	<salesman_write>
        		<connection>
        			<use>core_write</use>
        		</connection>
        	</salesman_write>
        	<salesman_read>
        		<connection>
        			<use>core_read</use>
        		</connection>
        	</salesman_read>
        </resources>
	</global>	
</config>